* {
  	box-sizing: border-box;
}
html {
        width: 100%;
	background: #403f3f;
	color: white;
}
.block{
	width: 20%;
	float: left;
	height: 60%;
	margin: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	padding-top: 1rem;
	display: grid;
	align-items: center;
}
.block2{
	float: left;
	margin: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	width: 70%;
	max-width: 73%;
	height: auto;
	padding: 10px 20px 20px 20px;

}
p, h1, h3{
	color: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.block img{
	width: 100%;
	max-width: 230px;
	height: auto;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}
a:link{
	color: white;
}
.links{
	margin-left: 4.5rem;
}
